/* * {
background-color: aliceblue;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-div{
  margin: 2%
}

.nav-div{
  width: 98%;
}
.login-form{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 33%;
}

.listing-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 98%;
  margin: 1%
}

.listing-card{
  padding: .5rem
}
